/* background 이미지 rotate 관련 css */
.bg .rotate {
    -webkit-animation: rotateBox 25s linear infinite;
    animation: rotateBox 25s linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
    will-change: transform;
  
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  
    width: 850px;
    height: 850px;
  }
  .bg .rotate > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    height: 700px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    will-change: transform;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition: filter 0.25s cubic-bezier(0.48, 0.04, 0.22, 0.99),
      -webkit-transform 0.25s cubic-bezier(0.48, 0.04, 0.22, 0.99);
    -webkit-filter: blur(4.5rem);
    filter: blur(4.5rem);
    position: absolute;
  }
  .bg .rotate > span.bg-img01 {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%) rotate(50deg);
    -ms-transform: translateX(-50%) rotate(50deg);
    transform: translateX(-50%) rotate(50deg);
    -webkit-animation: bgAni1 18s linear infinite;
    animation: bgAni1 18s linear infinite;
  }
  .bg .rotate > span.bg-img02 {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    left: 0;
    bottom: 0;
    -webkit-animation: bgAni2 18s linear infinite 1s;
    animation: bgAni2 18s linear infinite 1s;
    opacity: 0.8;
  }
  .bg .rotate > span.bg-img03 {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-animation: bgAni3 18s linear infinite 0.5s;
    animation: bgAni3 18s linear infinite 0.5s;
  }
  @keyframes rotateBox {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0);
      transform: translate(-50%, -50%) rotate(0);
    }
  
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(-360deg);
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
  @keyframes bgAni1 {
    0% {
      -webkit-transform: translateX(-50%) rotate(50deg);
      transform: translateX(-50%) rotate(50deg);
    }
    100% {
      -webkit-transform: translateX(-50%) rotate(410deg);
      transform: translateX(-50%) rotate(410deg);
    }
  }
  @keyframes bgAni2 {
    0% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
    }
    100% {
      -webkit-transform: rotate(400deg);
      transform: rotate(400deg);
    }
  }
  @keyframes bgAni3 {
    0% {
      -webkit-transform: rotate(80deg);
      transform: rotate(80deg);
    }
    100% {
      -webkit-transform: rotate(-280deg);
      transform: rotate(-280deg);
    }
  }